version: 2
jobs:
  build:
    docker:
      - image: 'circleci/node:10.20.1'
    steps:
      - checkout
      - run:
          name: install
          command: npm ci
      - run:
          name: verify
          command: npm run verify
      - run:
          name: build
          command: npm run build
      - run:
          name: release
          command: npm run semantic-release
